<div class="col-md-8 col-md-offset-2 admin-data-box">
  <hr style="size:2px"/>
  <%= simple_form_for [:admin, @category] do |f| %>
  <%= f.label t('f-product-category_group') %>
  <%= f.select :category_group_id, CategoryGroup.all.map{ |a| [a.name, a.id] }, {}, :class => "form-control" %>
  <%= f.input :name, :label => t('f-category-name') %>
  <span class="hidden-box"><%= f.input :is_hidden, :label => t('f-hide') %></span>
  <div class="form-actions">
    <%= f.submit t('f-submit'), class: 'btn btn-md btn-default' %>
  </div>
  <% end %>
</div>

<script>
  $("#product_category_group_id").select2({theme: "bootstrap"});
</script>
