<!--=== 标题 ===-->
<!-- <h2><%= t('product-index') %></h2> -->
<% if current_user.is_admin? %>
  <%= form_tag search_admin_products_path, :method => :get, class: "" do %>
    <div class="input-group search-box">
      <input type="text" class="form-control" name="keyword" placeholder="<%= t('keywaods')%>" value="<%= params[:keyword] %>">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <span><i class="fa fa-search"></i></span>
        </button>
      </div>
    </div>
  <% end %>
  <br>
<% end %>
<!--=== 商品列表 ===-->
<table class='table table-hover'>
  <!--=== 商品列表标题 ===-->
  <thead>
    <tr>
      <th><%= t('nickname') %></th>
      <th><%= t('f-product-name')%></th>
      <th><%= t('f-category-group') %></th>
      <th><%= t('f-product-category') %></th>
      <th><%= t('created_at')%></th>
      <th><%= t('f-procuct-status') %></th>
      <th><%= t('f-options') %></th>
    </tr>
  </thead>

  <!--=== 商品列表內容 ===-->
  <% @products.each do |product| %>
  <tr>
    <td><%= link_to(product.user.name, admin_product_path(product)) %></td>
    <td><%= product.name.upcase %></td>
    <td><%= product.category.category_group.name %></td>
    <td><%= product.category.name %></td>
    <td><%= product.created_at.strftime("%Y/%m/%d %I:%M %p") %></td>
    <td> <%= t(product.aasm_state, :scope => "product.aasm_state") %> </td>
    <!--=== 操作选项 ===-->
    <td>
      <div class="action-box">
        <% if current_user.is_admin? %>
          <%= link_to(admin_product_path(product), class: "btn btn-md btn-default", :method => :delete, :data => { :confirm => "Are you sure?" }) do%>
            <span class="fa fa-trash"></span>
          <% end %>
        <% end %>
        <%= link_to(download_admin_product_path(product), class: "btn btn-md btn-default", method: :get) do %>
          <span class="fa fa-cloud-download"></span>
        <% end %>
        <%= render "admin/products/state_option", product: product %>
      </div>
    </td>
  </tr>
  <% end %>
</table>
<%= paginate @products %>
