<h2><span class="fa fa-pencil-square-o"></span><%= t('user-new') %></h2>

<div class="col-md-8 col-md-offset-2 admin-data-box">
  <hr style="size:2px"/>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= simple_form_for [:admin, @user] do |f| %>

    <div class="form-group">
      <%= f.input :name, :label => t('nickname'), :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.input :password, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.input :password_confirmation, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :role, t('f-authority') %>
      <%= f.select :role, User::ROLES.map{ |x| [t(x, :scope => "user.role"), x] }, { :include_blank => true }, :class => "form-control" %>
    </div>

    <div class="form-actions">
      <%= f.submit t('f-submit'), class: 'btn btn-md btn-default' %>
    </div>

  <% end %>
</div>


<script>
  $("#user_role").select2( { theme: "bootstrap", language: "zh-CN"} );
</script>
