<div class="col-md-10 col-md-offset-1">
  <div class="row">
    <% @products.each do |product| %>
    <div class='col-xs-12 col-sm-6 col-md-4 '>
      <div class="product">
        <div class="product_image">
          <%= link_to product_path(product) do %>
          <%= image_tag(product.product_images[0].image.url )%>
          <% end %>
        </div>
        <div class="product_content">
          <div class="name">
            <h2><%= link_to product.name, product%> </h2>
          </div>
          <div class="data clearfix">
            <p class="status">
              <%= t(product.aasm_state, :scope => "product.aasm_state") %>
              <div class="time"> <%= product.created_at.strftime("%Y/%m/%d %I:%M %p") %></div></p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<%= paginate @products %>
