<!DOCTYPE html>
<html>
  <head>
    <title><%= "巨会养车" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/images/favicon.ico">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar" %>
        <%= render "common/flashes" %>
      </div>
      <div class="row">
        <div class="col-md-2 nav-sidebar">
          <ul class="list-unstyled">
            <% if current_user.is_CustomerManager? %>
              <!-- 产品管理 -->
              <li><%= link_to admin_products_path do %> <span class="fa fa-cube"></span> <span><%= t('admin-product') %></span><% end %></li>
            <% end %>

            <% if current_user.is_admin? %>
              <!-- 分类管理 -->
              <li><%= link_to admin_categories_path do %> <span class="fa fa-cubes"></span> <span><%= t('admin-category') %></span><% end %></li>
              <!-- 用户管理 -->
              <li><%= link_to admin_users_path do %> <span class="fa fa-user-circle"></span> <span><%= t('admin-user') %></span><% end %></li>
            <% end %>
          </ul>
        </div>
        <div class="col-md-10 admin-box">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
