<!DOCTYPE html>
<html>
  <head>
    <title><%= "巨会养车" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/images/favicon.ico">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar" %>
        <%= render "common/flashes" %>
      </div>
      <div class="row">
        <div class="col-md-2 nav-sidebar">
          <ul class="list-unstyled">
            <!-- 产品管理 -->
            <li><%= link_to admin_products_path do %> <span class="fa fa-cube"></span> <span><%= t('admin-product') %></span><% end %></li>
             <!-- 分类管理 -->
            <li><%= link_to admin_categories_path do %> <span class="fa fa-cubes"></span> <span><%= t('admin-category') %></span><% end %></li>

              <%= form_tag search_admin_products_path, :method => :get, class: "" do %>
                <div class="input-group search-box">
                  <input type="text" class="form-control" name="keyword" placeholder="<%= t('keywaods')%>" value="<%= params[:keyword] %>">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                      <span><i class="fa fa-search"></i></span>
                    </button>
                  </div>
                </div>
              <% end %>

          </ul>
        </div>
        <div class="col-md-10 admin-box">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
